/* Blog Post Page Styles */
.blog-post-artical , .blog-post-artical > h2 {
    margin-top: 10px;
}
.blog-post-artical > h2{
    font-size: 30px;
}
.p-post-art , .p-post-art > a {
    font-size: 14px;
    margin-block: 10px;
    color: gray;
}
.main-section{
    display: grid;
    grid-template-columns: 75% 20%;
    gap: 5%;
}

.aside-section{
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(237, 237, 237);
}
.aside-p-about{
    font-size: 25px;
    margin-bottom: 10px;
    font-style: italic;
}

.line{
    margin-block: 10px;
}
.link-blog , #link-blog{
    color: blue;
}
.block-blog{
    border: 1px rgb(173, 173, 173) solid;
    margin-block: 20px;
}
blockquote{
    padding-left: 20px;
    padding-bottom: 20px;
}
.ul-list{
    padding-left: 30px;
}
.archives{
    margin-top: 20px;
    padding: 20px;
}
.archives > p{
    font-style: italic;
}
.link-archive{
    margin-block: 10px;
}
.figure-img{
    border-radius: 50%;
}
.figure-section{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.figure-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 25px;
}