/* Main Page Styles */

* {
    font-family: 'roboto';
    margin: 0;
    padding: 0;
    color: #2d3748;
}

.font-style{
    font-size: 1.3em;
    color: #2d3748;
}

/* Contaner */

.contaner {
    width: 90%;
    margin: auto;
}

/* Header NaveBar  */

.nav-links{
    width: 50%;
    text-align: right;
}

.logo-contaner{
    width: 50%;
    display: flex;
    align-items: center;
}

.logo-contaner > span {
    padding-left: 10px;
    font-size: 1.5em;
    font-weight: 500;
}

#h1-head-blog-bost {
    padding-block: 20px;
}

.logo{
    height: 40px;
}

.navbar {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(196, 196, 196);
}

.card > p {
    padding-block: 10px;
}

/* Links For NavBar */

.links {
    text-decoration: none;
    padding: 5px;
}

/* Effect for NavBar Links */

.links:hover {
    color: #667fea;
    border-radius: 10px;
}

.btn {
    background-color: #2d3748;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.btn:hover{
    background-color: #667fea;
}

.card {
    max-height: 250px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(5, 5, 5, 0.2);
    margin-bottom: 20px;
}

.my-name{
    color: #667fea;
}

/* Footer Styles */
.footer {
    height: 30px;
    width: 100%;
    background-color: #2d3748;
    padding: 10px;
}
footer > p {
    text-align: center;
    color: white;
}